@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
}

/* LAYOUT */
header {
  position: relative;
  height: 35vh;
  border-bottom: 7px solid #eee;
}

main {
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 52rem;
  font-size: 2rem;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  align-items: center;
  text-align: center;
  position: absolute;
  margin-top: 60%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.between {
  display: flex;
  font-size: 2.5rem;
  position: absolute;
  top: 3rem;
  right: 2rem;
}

.reset {
  position: absolute;
  top: 2rem;
  left: 2rem;
  border-radius: 10px;
}

#guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: flex;
  margin-bottom: 3rem;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

.message {
  margin-bottom: 8rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}
.check {
  border-radius: 10px;
}

@media (max-width: 800px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 39%;
  }
  header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .between {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    top: 12rem;
    right: 5rem;
    left: 5rem;
  }
  .reset {
    top: 2rem;
    right: 5rem;
    left: 5rem;
    border-radius: 10px;
    align-items: center;
  }
  main {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  h1 {
    font-size: 4rem;
    align-items: center;
    text-align: center;
    width: 100%;
    top: 23rem;
    bottom: 23rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .number {
    background: #eee;
    color: #333;
    font-size: 6rem;
    width: 15rem;
    padding: 3rem 0rem;
    align-items: center;
    text-align: center;
    bottom: 0;
    transform: translate(-50%, 50%);
  }
  .right {
    font-size: 3rem;
    padding-top: 10rem;
    justify-items: center;
    text-align: center;
  }
  .left {
    font-size: 3rem;
    padding-top: 12rem;
    justify-items: center;
    text-align: center;
  }
}
